<div class="main-content">
    <div class="section sec1 header active" *ngIf="selectedIndex==='1'" id="home"
        [ngClass]="selectedIndex === '1' ? 'sec1' : ''">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="assets/img/hero_1.JPG" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    Hi, I'm <span>ANKIT AGNIHOTRI</span>
                    A Web Developer (Angular + Node.js)
                </h1>
                <p>
                    Versatile FrontEnd Developer with over 2.8 years of experience in designing, developing, and
                    implementing scalable and
                    responsive enterprise level application with configurable approach, creating common framework
                    components for easy & quick development.
                </p>
                <div class="btn-con" (click)="openResume()">
                    <a class="main-btn">
                        <span class="btn-text">View my CV</span>
                        <span class="btn-icon"><i class="fas fa-download"></i></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div>
        <section class="section sec2 about" id="about" [ngClass]="selectedIndex === '2' ? 'sec2' : ''"
            *ngIf="selectedIndex==='2'">
            <div class="main-title">
                <h2>About <span>me</span><span class="bg-text">my status</span></h2>
            </div>
            <div class="about-container">
                <div class="left-about">
                    <h4>More about me</h4>
                    <p>Professional experience as a Web Developer in CRM implementation product.<br>
                        Having strong foundation of JavaScript, Angular, HTML & CSS, Node.js and Bootstrap.<br>
                        Participated in some aspects of the software development life cycle (design, code reviews,
                        deployment).<br>
                        Strong aptitude to learn and apply knowledge quickly. Able to effectively manage during
                        independent tasks as well as collaborate as part of productive team.<br>
                    </p>
                    <!-- <div class="btn-con">
                            <a href="" class="main-btn">
                                <span class="btn-text">Contact Me</span>
                               
                            </a>
                         </div> -->
                </div>
                <div class="right-about">
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">2</p>
                            <p class="small-text">Projects <br /> Completed</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">2+</p>
                            <p class="small-text">Years of <br /> Experience</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">1</p>
                            <p class="small-text">Personal Project <br /> Completed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-stats">
                <h4 class="stat-title">My Skills</h4>
                <div class="progress-bars">
                    <div class="progress-bar">
                        <p class="prog-title">Angular</p>
                        <div class="progress-con">
                            <p class="prog-text">90%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">Node.js</p>
                        <div class="progress-con">
                            <p class="prog-text">70%</p>
                            <div class="progress">
                                <span class="html1"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">Javascript</p>
                        <div class="progress-con">
                            <p class="prog-text">90%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">html5</p>
                        <div class="progress-con">
                            <p class="prog-text">90%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">CSS</p>
                        <div class="progress-con">
                            <p class="prog-text">90%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">MySql</p>
                        <div class="progress-con">
                            <p class="prog-text">90%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="stat-title">My Timeline</h4>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">MAY 2021 - present</p>
                    <h5>Associate software Engineer <span>- Accenture</span></h5>
                    <p>
                        ** Developed and maintained web applications using Angular and Node.js.<br>
                        ** Experienced working in Agile-based SDLC environment and participating in different Scrum
                        sessions.<br>
                        ** Wrote highly maintainable, solid code for software system, forming core framework and earning
                        consistent praise from subsequent developers since initial version.<br>
                        ** Added analytic for subscription module which helped in understanding business requirements
                        better.<br>
                        ** Checked client code for bugs and resolved using approved troubleshooting methods.

                    </p>
                </div>
            </div>
        </section>

        <!-- <section class="section sec3 Portfolio" 
                 id="portfolio"
                 [ngClass]="selectedIndex === '3' ? 'sec3' : ''"  *ngIf="selectedIndex==='3'"
                 (click) = "openResume()">
                </section> -->


        <section class="section sec4 blogs" id="blogs" [ngClass]="selectedIndex === '4' ? 'sec4' : ''"
            *ngIf="selectedIndex==='4'">
            <div class="main-title">
                <h2>My <span>Achievements</span><span class="bg-text">My Awards</span></h2>
            </div>
            <p class="port-text"></p>
            <div class="portfolios">
                <div class="image">
                    <img style="width: 400px; height: 350px;" src="assets/img/ACE AWARD ACCENTURE.jpg" alt="">
                </div>
                <div class="image">
                    <img style="width: 400px; height: 350px;" src="assets/img/award3.jpg" alt="">
                </div>
                <div class="image">
                    <img style="width: 400px;height: 350px;" src="assets/img/award 4.jpg" alt="">
                </div>
                <div class="image">
                    <img style="width: 400px;height: 350px;" src="assets/img/award5.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="section sec5 contact" id="contact" [ngClass]="selectedIndex === '5' ? 'sec5' : ''"
            *ngIf="selectedIndex==='5'">
            <div class="contact-container">
                <div class="main-title">
                    <h2>Contact <span>Me</span> <span class="bg-text">My Details</span></h2>
                </div>
                <div class="contact-content-con">
                    <div class="left-contact">
                        <h4>Contact Me here</h4>

                        <div class="contact-info">
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt">

                                    </i>
                                    <span>Location</span>
                                </div>
                                <p>: Satna, Madhya Pradesh</p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                    <span>Email</span>
                                </div>
                                <p>
                                    <span>: ankitagnihotri213@gmail.com</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-user-graduate"></i>
                                    <span>Education</span>
                                </div>
                                <p>
                                    <span>: Bachelor of Engineering</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-user-graduate"></i>
                                    <span>Mobile Number</span>
                                </div>
                                <p>
                                    <span>: +919300737243</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-globe-africa"></i>
                                    <span>Languages</span>
                                </div>
                                <p>
                                    <span>: English, Hindi</span>
                                </p>
                            </div>
                        </div>
                        <div class="contact-icons">
                            <div class="contact-icon">
                                <a href="www.facebook.com" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-contact">
                        <form action="https://formsubmit.co/akagnihotri@gmail.com" method="POST" class="contact-form">
                            <div class="input-control i-c-2">
                                <input type="text" required placeholder="YOUR NAME" [(ngModel)]="name">
                                <input type="text" required placeholder="YOUR EMAIL" [(ngModel)]="email">
                            </div>
                            <div class="input-control">
                                <input type="text" required placeholder="ENTER SUBJECT" [(ngModel)]="subject">
                            </div>
                            <div class="input-control">
                                <textarea name="" id="" cols="15" rows="8" placeholder="Message here...."
                                    [(ngModel)]="fullmessage"></textarea>
                            </div>
                            <div class="submit-btn">
                                <input type="submit" value="Send Email">
                            </div>

                        </form>
                    </div>
                </div>
                <!-- <div class="right-contact">
                             <form action="" class="contact-form">
                                 <div class="input-control">
                                     <input type="text" required placeholder="YOUR NAME">
                                     <input type="text" required placeholder="YOUR EMAIL">
                                 </div>
                                 <div class="input-control">
                                    <input type="text" required placeholder="ENTER SUBJECT">
                                </div>
                                <div class="input-control">
                                   <textarea name="" id="" cols="15" rows="8"></textarea>
                                </div>
                                <div class="submit-btn">
                                    <a href="" class="main-btn">
                                        <span class="btn-text">Download CV</span>
                                        <span class="btn-icon"><i class="fas fa-download"></i></span>
                                    </a>
                                </div>
                                
                             </form>
                         </div> -->
            </div>

        </section>
    </div>
    <div *ngIf="resumeSec" class="controlls">
        <button class="control control-1 active-btn" (click)="changeColor('1')"
            [style.background-color]="selectedIndex === '1' ? '#27AE60' : ''" data-id="home">
            <i class="fas fa-home"></i>
        </button>
        <button class="control control-2 " (click)="changeColor('2')"
            [style.background-color]="selectedIndex === '2' ? '#27AE60' : ''" data-id="about">
            <i class="fas fa-user"></i>
        </button>
        <button class="control control-3 " (click)="changeColor('3')"
            [style.background-color]="selectedIndex === '3' ? '#27AE60' : ''" data-id="Portfolio">
            <i class="fas fa-file"></i>
        </button>
        <button class="control control-4 " (click)="changeColor('4')"
            [style.background-color]="selectedIndex === '4' ? '#27AE60' : ''" data-id="blogs">
            <i class="fas fa-newspaper"></i>
        </button>
        <button class="control control-5 " (click)="changeColor('5')"
            [style.background-color]="selectedIndex === '5' ? '#27AE60' : ''" data-id="contact">
            <i class="fas fa-envelope-open"></i>
        </button>
    </div>
</div>