<div style="color: #191d2b;">
    <div class="row buttons">
        <button class="btn btn-primary btns" (click)="print()">Print Resume</button>
        <button class="btn btn-primary btns" (click)="backToProfile()">Back To Profile</button>
    </div>
    <div id="resume">
        <h1>ANKIT AGNIHOTRI</h1>
        <div> Associate Software Engineer</div>
        <div>9300737243 <br> <a href="ankitagnihotri213@gmail.com">ankitagnihotri213@gmail.com</a> <br> <a
                href="https://www.linkedin.com/in/ankit-agnihotri-783436133/">https://www.linkedin.com/in/ankit-agnihotri-783436133/</a>
            <div><br>

                <h2>SUMMARY</h2>
                <div><i style="width: 75%;
    display: inline-block;
    height: 5px;
    background-color: white;" class="fa-duotone fa-horizontal-rule"></i></div>
                <p>Experienced Angular + Node developer with over 2 years of experience in designing and developing web
                    applications.
                    Skilled in creating high-performing, responsive, and interactive web applications using the
                    Angular-9 framework.
                    Proficient in coordinating with back-end programmers to build representational state transfer (REST)
                    application programming interfaces (API).
                    Strong analytical reasoning, originality, and problem-solving abilities.</p><br>

                <h2>WORK EXPERIENCE</h2>
                <div><i style="width: 75%;
        display: inline-block;
        height: 5px;
        background-color: white;" class="fa-duotone fa-horizontal-rule"></i></div>
                <h3>Custom Software Engineering Analyst</h3>

                <h4>Accenture – Indore (May 2021 - Present)</h4>
                <p>
                    • Building and implementing top-notch user Interfaces using JavaScript and the Angular Framework
                    <br>
                    • Writing efficient JavaScript code while also using HTML and CSS <br>
                    • Using the latest front-end technology, creating adaptable interfaces for online apps.<br>
                    • Leading with product-analysis tasks and conducting performance tests.<br>
                    • Perform complex product analysis as well as development duties that may include significant
                    research and analysis.<br>
                    • Collaborating with other cross-functional teams to Ensure high-performance of<br> applications
                    Identifying and troubleshooting issues with front End code<br>
                    • Providing tech support for clearing bottlenecks and Obstacles <br>
                </p><br>
                <br>
                <h2>SKILLS </h2>
                <div><i style="width: 75%;
        display: inline-block;
        height: 5px;
        background-color: white;" class="fa-duotone fa-horizontal-rule"></i></div>
                <p> Front-end Technologies: Angular, JavaScript, Express.js, HTML, CSS, Bootstrap <br>
                    Back-end Technologies: Node.js, RESTful APIs <br>
                    Database Management: MySQL, MongoDb <br>
                    Other: Java SE </p> <br>

                <h2>EDUCATION </h2>
                <div><i style="width: 75%;
        display: inline-block;
        height: 5px;
        background-color: white;" class="fa-duotone fa-horizontal-rule"></i></div>
                <p> Bachelor of Engineering
                    Lakshmi Narain College of Technology, Bhopal (M.P.) - Electrical Engineering (2016 – 2020).</p> <br>


                <h2>PROJECTS </h2>
                <div><i style="width: 75%;
        display: inline-block;
        height: 5px;
        background-color: white;" class="fa-duotone fa-horizontal-rule"></i></div>

                <h4>CRM WEB Application: </h4>
                <p>
                    • A one-stop portal that enables Singaporeans of all ages to make informed learning and career
                    choices, so that they can pursue their skills and career development throughout their lives.<br>
                    • Provide Career Transition Programme Supports mid-career individuals in acquiring industry level
                    skills to improve employability.<br>
                    • Developed using Node.js, JavaScript, HTML, CSS and Angular.<br><br>
                </p>
                <h4>MOE School Cockpit Delivery (Support): </h4>
                <p>
                    • used for Planning and decision making to realise school’s desired outcomes of education for their
                    students and to increase the staff member’s productivity. <br>

                    • It encompasses a comprehensive and integrated suite of business capabilities and complements other
                    MOE systems to support schools in the delivery of student-centric programs, administrative
                    capabilities, functions, operations, and work processes.
                </p>
                <br>



                <h2>ACHIEVEMENTS </h2>
                <div><i style="width: 75%;
        display: inline-block;
        height: 5px;
        background-color: white;" class="fa-duotone fa-horizontal-rule"></i></div>
                • Accenture Achievements Kudos award DEC-2021 for a great work by team manager.<br>
                • Client value creation kudos award June-2022 for a great work by team manager.<br>
                • Accenture All STAR ACE award Q3 for a great work.<br>

            </div>
            <div>

            </div>
        </div>